<main id="main">

<section class="breadcumb-section">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12 center z-index1">
                <h1 class="title">Tất cả nghệ sĩ</h1>
                <ul class="breadcumb-list flex-five">
                    <li>
                        <a href="Home">Trang chủ</a>
                    </li>
                    <li>
                        <span>Nghệ sĩ</span>
                    </li>
                </ul>
                <img class="bcrumb-ab" src="./assets/images/page/mask-bcrumb.png" alt="">
            </div>
        </div>

    </div>
</section>

<!-- Widget archieve tour -->
<section class="archieve-tour">
<div class="tf-container">
<form action="/Artist/List" class="tf-my-listing1 mb-37" id="filter-form">
    <div class="row align-center">
        <div class="col-md-8">
            <div class="flex-three filter-tour-package">
                <div class="nice-select" tabindex="0">
                    <span class="current">Nghề nghiệp</span>
                    <ul class="list" id="job-list">
                        <li data-value="" class="option">Tất cả</li>
                        <li data-value="diễn viên" class="option">Diễn viên</li>
                        <li data-value="ca sĩ" class="option">Ca sĩ</li>
                        <li data-value="nhạc sĩ" class="option">Nhạc sĩ</li>
                        <li data-value="MC" class="option">MC</li>
                        <li data-value="streamer" class="option">Streamer</li>
                        <li data-value="DJ" class="option">DJ</li>
                        <li data-value="Idol" class="option">Idol</li>
                    </ul>
                </div>
                <div class="nice-select" tabindex="0">
                    <span class="current">Vị trí</span>
                    <ul class="list" id="location-list">
                        <li data-value="Tất cả" class="option">Tất cả</li>
                        <li data-value="Hà Nội" class="option">Hà Nội</li>
                        <li data-value="Đà Nẵng" class="option">Đà Nẵng</li>
                        <li data-value="Hồ Chí Minh" class="option">Hồ Chí Minh</li>
                    </ul>
                </div>
                <div class="nice-select" tabindex="0">
                    <span class="current">Cát xê</span>
                    <ul class="list" id="salary-list">
                        <li data-value="DESC" class="option">Mặc định</li>
                        <li data-value="asc" class="option">Tăng dần</li>
                        <li data-value="desc" class="option">Giảm dần</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="fullname" value="">
    <input type="hidden" name="job" id="job-input" value="">
    <input type="hidden" name="address" id="location-input" value="">
    <input type="hidden" name="sortBy" id="salary-input" value="">
</form>

<script>
document.querySelectorAll('#job-list .option').forEach(item => {
    item.addEventListener('click', function() {
        document.getElementById('job-input').value = this.getAttribute('data-value');
        document.getElementById('filter-form').submit();
    });
});

document.querySelectorAll('#location-list .option').forEach(item => {
    item.addEventListener('click', function() {
        document.getElementById('location-input').value = this.getAttribute('data-value');
        document.getElementById('filter-form').submit();
    });
});

document.querySelectorAll('#salary-list .option').forEach(item => {
    item.addEventListener('click', function() {
        document.getElementById('salary-input').value = this.getAttribute('data-value');
        document.getElementById('filter-form').submit();
    });
});
</script>

<div class="row">
    @for (int i = 0; i < Model.Artists.Count; i++)
    {
        <div class="col-sm-6 col-xl-3 mb-32">
            <div class="tour-listing box-sd">
                <a href="@Url.Action("Detail", "Artist", new { id = Model.Artists[i].Id })" class="tour-listing-image">
                    <div class="badge-top flex-two">
                        <span class="feature">Nổi bật</span>
                    </div>
                    <img src="@Model.Artists[i].Image" style="height: 24rem; object-fit: cover;" alt="Image Listing">
                </a>
                <div class="tour-listing-content">
                    <span class="map">@Model.Artists[i].Job</span>
                    <h3 class="title-tour-list">
                        <a href="@Url.Action("Detail", "Artist", new { id = Model.Artists[i].Id })">
                            @Model.Artists[i].Fullname
                        </a>
                    </h3>
                    <div class="review">
                        <span>@Model.Artists[i].Rating sao</span>
                    </div>
                    <div class="icon-box flex-three">
                        <div class="icons flex-three">
                            <span>@Model.Artists[i].Address</span>
                        </div>
                    </div>
                    <div class="flex-two">
                        <div class="price-box flex-three">
                            <p> <span class="price-sale">@Model.Artists[i].Catxe VND</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-20">
    <div class="col-md-12">
        <ul class="tf-pagination flex-five">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a class="pages-link" href="@Url.Action("List", new { page = Model.CurrentPage - 1 })">Trước</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="pages-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="pages-link" href="@Url.Action("List", new { page = i })">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a class="pages-link" href="@Url.Action("List", new { page = Model.CurrentPage + 1 })">Tiếp</a>
                </li>
            }
        </ul>
    </div>
</div>
</div>
</section>

</main>